.div {
    background-color: #fff;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    justify-content: space-between;
    padding: 24px 67px 0 32px;
}
@media (max-width: 991px) {
    .div {
    flex-wrap: wrap;
    padding: 0 20px;
    }
}
.div-2 {
    border-radius: 24px;
    background-color: var(--Black, #000);
    align-self: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 64px;
    color: #fff;
    font-weight: 400;
    white-space: nowrap;
    padding: 42px;
}
@media (max-width: 991px) {
    .div-2 {
    font-size: 40px;
    white-space: initial;
    padding: 0 20px;
    }
}
.div-3 {
    font-family: Baloo Bhai, sans-serif;
    align-self: start;
}
@media (max-width: 991px) {
    .div-3 {
    font-size: 40px;
    }
}
.img {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 26px;
    fill: #fff;
    margin-top: 98px;
}
@media (max-width: 991px) {
    .img {
    margin-top: 40px;
    }
}
.img-2 {
    aspect-ratio: 1.27;
    object-fit: auto;
    object-position: center;
    width: 28px;
    fill: #fff;
    margin-top: 64px;
}
@media (max-width: 991px) {
    .img-2 {
    margin-top: 40px;
    }
}
.img-3 {
    aspect-ratio: 0.88;
    object-fit: auto;
    object-position: center;
    width: 23px;
    margin-top: 64px;
}
@media (max-width: 991px) {
    .img-3 {
    margin-top: 40px;
    }
}
.img-4 {
    aspect-ratio: 1.14;
    object-fit: auto;
    object-position: center;
    width: 26px;
    margin-top: 64px;
}
@media (max-width: 991px) {
    .img-4 {
    margin-top: 40px;
    }
}
.img-5 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 26px;
    margin-top: 64px;
}
@media (max-width: 991px) {
    .img-5 {
    margin-top: 40px;
    }
}
.img-6 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 26px;
    margin-top: 225px;
}
@media (max-width: 991px) {
    .img-6 {
    margin-top: 40px;
    }
}
.div-4 {
    align-self: end;
    display: flex;
    margin-top: 31px;
    flex-direction: column;
}
@media (max-width: 991px) {
    .div-4 {
    max-width: 100%;
    }
}
.div-5 {
    border-radius: 14px;
    background-color: var(--Grey, #f5f5f7);
    padding: 0 80px 0 32px;
}
@media (max-width: 991px) {
    .div-5 {
    max-width: 100%;
    padding: 0 20px;
    }
}
.div-6 {
    gap: 20px;
    display: flex;
}
@media (max-width: 991px) {
    .div-6 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
    }
}
.column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 59%;
    margin-left: 0px;
}
@media (max-width: 991px) {
    .column {
    width: 100%;
    }
}
.div-7 {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: var(--Black, #000);
    font-weight: 400;
    margin: auto 0;
}
@media (max-width: 991px) {
    .div-7 {
    margin-top: 40px;
    }
}
.div-8 {
    font: 36px Baloo Bhai, sans-serif;
}
.div-9 {
    margin-top: 16px;
    font: 16px/150% Roboto, sans-serif;
}
.column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 41%;
    margin-left: 20px;
}
@media (max-width: 991px) {
    .column-2 {
    width: 100%;
    }
}
.img-7 {
    aspect-ratio: 0.92;
    object-fit: auto;
    object-position: center;
    width: 175px;
    margin-top: -31px;
    max-width: 100%;
    flex-grow: 1;
}
@media (max-width: 991px) {
    .img-7 {
    margin-top: 40px;
    }
}
.div-10 {
    display: flex;
    margin-top: 24px;
    gap: 20px;
}
@media (max-width: 991px) {
    .div-10 {
    flex-wrap: wrap;
    }
}
.div-11 {
    border-radius: 14px;
    background-color: rgba(245, 245, 247, 1);
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-grow: 1;
    flex-basis: auto;
    padding: 8px 24px 8px 9px;
}
@media (max-width: 991px) {
    .div-11 {
    max-width: 100%;
    flex-wrap: wrap;
    padding-right: 20px;
    }
}
.div-12 {
    display: flex;
    gap: 20px;
    color: var(--Black, #000);
    font-weight: 400;
    justify-content: space-between;
}
.img-8 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 64px;
    fill: #fff;
}
.div-13 {
    display: flex;
    flex-direction: column;
    margin: auto 0;
}
.div-14 {
    font: 16px Baloo Bhai, sans-serif;
}
.div-15 {
    margin-top: 10px;
    font: 13px Roboto, sans-serif;
}
.div-16 {
    display: flex;
    align-items: start;
    gap: 20px;
    font-size: 13px;
    white-space: nowrap;
    justify-content: space-between;
    margin: auto 0;
}
@media (max-width: 991px) {
    .div-16 {
    white-space: initial;
    }
}
.div-17 {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    position: relative;
    stroke-width: 2px;
    overflow: hidden;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    aspect-ratio: 1;
    color: var(--Black, #000);
    font-weight: 400;
    justify-content: center;
    padding: 15px 8px;
}
@media (max-width: 991px) {
    .div-17 {
    white-space: initial;
    }
}
.img-9 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.div-18 {
    position: relative;
}
.div-19 {
    font-family: Roboto, sans-serif;
    border-radius: 8px;
    background-color: var(--Black, #000);
    color: #fff;
    font-weight: 700;
    justify-content: center;
    padding: 15px 35px;
}
@media (max-width: 991px) {
    .div-19 {
    white-space: initial;
    padding: 0 20px;
    }
}
.img-10 {
    aspect-ratio: 2.38;
    object-fit: auto;
    object-position: center;
    width: 96px;
    margin: auto 0;
}
.div-20 {
    color: var(--Black, #000);
    margin-top: 50px;
    font: 400 24px Baloo Bhai, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
    .div-20 {
    max-width: 100%;
    margin-top: 40px;
    }
}
.div-21 {
    display: flex;
    margin-top: 35px;
    gap: 20px;
    font-size: 16px;
    color: var(--Black, #000);
    font-weight: 400;
}
@media (max-width: 991px) {
    .div-21 {
    flex-wrap: wrap;
    }
}
.div-22 {
    font-family: Baloo Bhai, sans-serif;
}
.div-23 {
    font-family: Baloo Bhai, sans-serif;
}
.div-24 {
    font-family: Baloo Bhai, sans-serif;
}
.div-25 {
    font-family: Baloo Bhai, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
}
.div-26 {
    border-radius: 14px;
    background-color: rgba(245, 245, 247, 1);
    display: flex;
    margin-top: 17px;
    width: 100%;
    align-items: center;
    gap: 20px;
    color: var(--Black, #000);
    font-weight: 400;
    justify-content: space-between;
    padding: 8px 24px 8px 9px;
}
@media (max-width: 991px) {
    .div-26 {
    max-width: 100%;
    flex-wrap: wrap;
    padding-right: 20px;
    }
}
.div-27 {
    align-self: stretch;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.img-11 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 64px;
    fill: #fff;
}
.div-28 {
    display: flex;
    flex-direction: column;
    margin: auto 0;
}
.div-29 {
    font: 16px Baloo Bhai, sans-serif;
}
.div-30 {
    margin-top: 10px;
    font: 13px Roboto, sans-serif;
}
.div-31 {
    align-self: stretch;
    display: flex;
    gap: 8px;
    font-size: 13px;
    margin: auto 0;
}
.img-12 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 16px;
}
.div-32 {
    font-family: Roboto, sans-serif;
    margin: auto 0;
}
.div-33 {
    align-self: stretch;
    display: flex;
    gap: 8px;
    font-size: 13px;
    white-space: nowrap;
    margin: auto 0;
}
@media (max-width: 991px) {
    .div-33 {
    white-space: initial;
    }
}
.img-13 {
    aspect-ratio: 0.93;
    object-fit: auto;
    object-position: center;
    width: 15px;
}
.div-34 {
    font-family: Roboto, sans-serif;
}
.div-35 {
    border-radius: 8px;
    background-color: var(--Black, #000);
    align-self: stretch;
    color: #fff;
    justify-content: center;
    margin: auto 0;
    padding: 16px 24px;
    font: 700 13px Roboto, sans-serif;
}
@media (max-width: 991px) {
    .div-35 {
    padding: 0 20px;
    }
}
.div-36 {
    border-radius: 14px;
    background-color: rgba(245, 245, 247, 1);
    display: flex;
    margin-top: 16px;
    align-items: center;
    gap: 20px;
    color: var(--Black, #000);
    font-weight: 400;
    justify-content: space-between;
    padding: 8px 24px 8px 9px;
}
@media (max-width: 991px) {
    .div-36 {
    flex-wrap: wrap;
    padding-right: 20px;
    }
}
.img-14 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 64px;
    fill: #fff;
    align-self: stretch;
}
.div-37 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    margin: auto 0;
}
.div-38 {
    font: 16px Baloo Bhai, sans-serif;
}
.div-39 {
    margin-top: 9px;
    font: 13px Roboto, sans-serif;
}
.div-40 {
    align-self: stretch;
    display: flex;
    gap: 8px;
    font-size: 13px;
    margin: auto 0;
}
.img-15 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 16px;
}
.div-41 {
    font-family: Roboto, sans-serif;
    margin: auto 0;
}
.div-42 {
    align-self: stretch;
    display: flex;
    gap: 8px;
    font-size: 13px;
    white-space: nowrap;
    margin: auto 0;
}
@media (max-width: 991px) {
    .div-42 {
    white-space: initial;
    }
}
.img-16 {
    aspect-ratio: 0.93;
    object-fit: auto;
    object-position: center;
    width: 15px;
}
.div-43 {
    font-family: Roboto, sans-serif;
}
.div-44 {
    border-radius: 8px;
    background-color: var(--Black, #000);
    align-self: stretch;
    color: #fff;
    justify-content: center;
    margin: auto 0;
    padding: 16px 24px;
    font: 700 13px Roboto, sans-serif;
}
@media (max-width: 991px) {
    .div-44 {
    padding: 0 20px;
    }
}
.div-45 {
    border-radius: 14px;
    background-color: rgba(245, 245, 247, 1);
    display: flex;
    margin-top: 16px;
    width: 100%;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    padding: 8px 24px 8px 9px;
}
@media (max-width: 991px) {
    .div-45 {
    max-width: 100%;
    flex-wrap: wrap;
    padding-right: 20px;
    }
}
.div-46 {
    align-self: stretch;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.div-47 {
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    padding: 0 16px;
}
.img-17 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 32px;
}
.div-48 {
    display: flex;
    flex-direction: column;
    color: var(--Black, #000);
    font-weight: 400;
    margin: auto 0;
}
.div-49 {
    font: 16px Baloo Bhai, sans-serif;
}
.div-50 {
    margin-top: 9px;
    font: 13px Roboto, sans-serif;
}
.div-51 {
    align-self: stretch;
    display: flex;
    gap: 8px;
    font-size: 13px;
    color: var(--Black, #000);
    font-weight: 400;
    margin: auto 0;
}
.img-18 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 16px;
}
.div-52 {
    font-family: Roboto, sans-serif;
    margin: auto 0;
}
.div-53 {
    align-self: stretch;
    display: flex;
    gap: 8px;
    font-size: 13px;
    color: var(--Black, #000);
    font-weight: 400;
    white-space: nowrap;
    margin: auto 0;
}
@media (max-width: 991px) {
    .div-53 {
    white-space: initial;
    }
}
.img-19 {
    aspect-ratio: 0.93;
    object-fit: auto;
    object-position: center;
    width: 15px;
}
.div-54 {
    font-family: Roboto, sans-serif;
}
.div-55 {
    border-radius: 8px;
    background-color: var(--Black, #000);
    align-self: stretch;
    color: #fff;
    justify-content: center;
    margin: auto 0;
    padding: 16px 24px;
    font: 700 13px Roboto, sans-serif;
}
@media (max-width: 991px) {
    .div-55 {
    padding: 0 20px;
    }
}
.div-56 {
    border-radius: 14px;
    background-color: rgba(245, 245, 247, 1);
    display: flex;
    margin-top: 16px;
    width: 100%;
    align-items: center;
    gap: 20px;
    color: var(--Black, #000);
    font-weight: 400;
    justify-content: space-between;
    padding: 8px 24px 8px 9px;
}
@media (max-width: 991px) {
    .div-56 {
    max-width: 100%;
    flex-wrap: wrap;
    padding-right: 20px;
    }
}
.div-57 {
    align-self: stretch;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.img-20 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 64px;
    fill: #fff;
}
.div-58 {
    display: flex;
    flex-direction: column;
    margin: auto 0;
}
.div-59 {
    font: 16px Baloo Bhai, sans-serif;
}
.div-60 {
    margin-top: 9px;
    font: 13px Roboto, sans-serif;
}
.div-61 {
    align-self: stretch;
    display: flex;
    gap: 8px;
    font-size: 13px;
    margin: auto 0;
}
.img-21 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 16px;
}
.div-62 {
    font-family: Roboto, sans-serif;
    margin: auto 0;
}
.div-63 {
    align-self: stretch;
    display: flex;
    gap: 8px;
    font-size: 13px;
    white-space: nowrap;
    margin: auto 0;
}
@media (max-width: 991px) {
    .div-63 {
    white-space: initial;
    }
}
.img-22 {
    aspect-ratio: 0.93;
    object-fit: auto;
    object-position: center;
    width: 15px;
}
.div-64 {
    font-family: Roboto, sans-serif;
}
.div-65 {
    border-radius: 8px;
    background-color: var(--Black, #000);
    align-self: stretch;
    color: #fff;
    justify-content: center;
    margin: auto 0;
    padding: 16px 24px;
    font: 700 13px Roboto, sans-serif;
}
@media (max-width: 991px) {
    .div-65 {
    padding: 0 20px;
    }
}
.div-66 {
    border-radius: 14px;
    background-color: rgba(245, 245, 247, 1);
    display: flex;
    margin-top: 16px;
    align-items: start;
    gap: 20px;
    color: var(--Black, #000);
    font-weight: 400;
    justify-content: space-between;
    padding: 8px 24px 0 9px;
}
@media (max-width: 991px) {
    .div-66 {
    flex-wrap: wrap;
    padding-right: 20px;
    }
}
.img-23 {
    aspect-ratio: 1.1;
    object-fit: auto;
    object-position: center;
    width: 64px;
    fill: #fff;
}
.div-67 {
    display: flex;
    margin-top: 18px;
    flex-direction: column;
}
.div-68 {
    font: 16px Baloo Bhai, sans-serif;
}
.div-69 {
    margin-top: 10px;
    font: 13px Roboto, sans-serif;
}
.div-70 {
    align-self: stretch;
    display: flex;
    gap: 8px;
    font-size: 13px;
    margin: auto 0;
}
.img-24 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 16px;
}
.div-71 {
    font-family: Roboto, sans-serif;
    margin: auto 0;
}
.div-72 {
    align-self: stretch;
    display: flex;
    gap: 8px;
    font-size: 13px;
    white-space: nowrap;
    margin: auto 0;
}
@media (max-width: 991px) {
    .div-72 {
    white-space: initial;
    }
}
.img-25 {
    aspect-ratio: 0.93;
    object-fit: auto;
    object-position: center;
    width: 15px;
}
.div-73 {
    font-family: Roboto, sans-serif;
}
.div-74 {
    border-radius: 8px;
    background-color: var(--Black, #000);
    margin-top: 12px;
    color: #fff;
    justify-content: center;
    padding: 16px 24px;
    font: 700 13px Roboto, sans-serif;
}
@media (max-width: 991px) {
    .div-74 {
    padding: 0 20px;
    }
}
.div-75 {
    display: flex;
    flex-direction: column;
    margin: auto 0;
}
@media (max-width: 991px) {
    .div-75 {
    max-width: 100%;
    }
}
.div-76 {
    display: flex;
    width: 100%;
    gap: 20px;
}
@media (max-width: 991px) {
    .div-76 {
    max-width: 100%;
    margin-right: 10px;
    flex-wrap: wrap;
    }
}
.div-77 {
    border-radius: 8px;
    background-color: var(--Grey, #f5f5f7);
    align-self: start;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 0;
    width: fit-content;
    padding: 10px 16px;
}
@media (max-width: 991px) {
    .div-77 {
    padding-right: 20px;
    }
}
.img-26 {
    aspect-ratio: 0.95;
    object-fit: auto;
    object-position: center;
    width: 20px;
}
.div-78 {
    display: flex;
    align-items: start;
    gap: 17px;
}
.img-27 {
    aspect-ratio: 0.86;
    object-fit: auto;
    object-position: center;
    width: 31px;
}
.img-28 {
    aspect-ratio: 1.41;
    object-fit: auto;
    object-position: center;
    width: 56px;
}
.div-79 {
    display: flex;
    margin-top: 24px;
    width: 100%;
    gap: 20px;
    color: var(--Black, #000);
    font-weight: 400;
}
@media (max-width: 991px) {
    .div-79 {
    max-width: 100%;
    margin-right: 10px;
    flex-wrap: wrap;
    }
}
.div-80 {
    border-radius: 14px;
    background-color: var(--Grey, #f5f5f7);
    display: flex;
    align-items: start;
    gap: 17px;
    flex: 1;
    padding: 27px 35px;
}
@media (max-width: 991px) {
    .div-80 {
    padding: 0 20px;
    }
}
.div-81 {
    font: 64px Baloo Bhai, sans-serif;
}
@media (max-width: 991px) {
    .div-81 {
    font-size: 40px;
    }
}
.div-82 {
    font: 16px/24px Roboto, sans-serif;
}
.div-83 {
    border-radius: 14px;
    background-color: var(--Grey, #f5f5f7);
    display: flex;
    align-items: start;
    gap: 17px;
    flex: 1;
    padding: 27px 37px;
}
@media (max-width: 991px) {
    .div-83 {
    padding: 0 20px;
    }
}
.div-84 {
    font: 64px Baloo Bhai, sans-serif;
}
@media (max-width: 991px) {
    .div-84 {
    font-size: 40px;
    }
}
.div-85 {
    font: 16px/24px Roboto, sans-serif;
}
.div-86 {
    color: var(--Black, #000);
    margin-top: 48px;
    font: 400 24px Baloo Bhai, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
    .div-86 {
    max-width: 100%;
    margin-top: 40px;
    }
}
.div-87 {
    display: flex;
    margin-top: 25px;
    width: 100%;
    gap: 20px;
    color: var(--Black, #000);
    justify-content: space-between;
}
@media (max-width: 991px) {
    .div-87 {
    max-width: 100%;
    flex-wrap: wrap;
    }
}
.div-88 {
    display: flex;
    gap: 20px;
    font-size: 16px;
    font-weight: 400;
    margin: auto 0;
}
.div-89 {
    font-family: Baloo Bhai, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
}
.div-90 {
    font-family: Baloo Bhai, sans-serif;
}
.div-91 {
    border-radius: 8px;
    background-color: var(--Grey, #f5f5f7);
    display: flex;
    gap: 7px;
    font-size: 13px;
    font-weight: 700;
    white-space: nowrap;
    padding: 10px 17px;
}
@media (max-width: 991px) {
    .div-91 {
    white-space: initial;
    }
}
.div-92 {
    font-family: Roboto, sans-serif;
}
.img-29 {
    aspect-ratio: 1.49;
    object-fit: auto;
    object-position: center;
    width: 6px;
    margin: auto 0;
}
.img-30 {
    aspect-ratio: 1.69;
    object-fit: auto;
    object-position: center;
    width: 100%;
    margin-top: 30px;
}
@media (max-width: 991px) {
    .img-30 {
    max-width: 100%;
    }
}
.div-93 {
    border-radius: 14px;
    background-color: var(--Grey, #f5f5f7);
    margin-top: 49px;
    padding: 33px 54px 16px 25px;
}
@media (max-width: 991px) {
    .div-93 {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px;
    }
}
.div-94 {
    gap: 20px;
    display: flex;
}
@media (max-width: 991px) {
    .div-94 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
    }
}
.column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 62%;
    margin-left: 0px;
}
@media (max-width: 991px) {
    .column-3 {
    width: 100%;
    }
}
.div-95 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    color: var(--Black, #000);
    font-weight: 400;
}
@media (max-width: 991px) {
    .div-95 {
    margin-top: 40px;
    }
}
.div-96 {
    font: 24px Baloo Bhai, sans-serif;
}
.div-97 {
    margin-top: 20px;
    font: 16px/24px Roboto, sans-serif;
}
.div-98 {
    border-radius: 8px;
    background-color: var(--Black, #000);
    margin-top: 28px;
    color: #fff;
    justify-content: center;
    padding: 15px 24px;
    font: 700 13px Roboto, sans-serif;
}
@media (max-width: 991px) {
    .div-98 {
    padding: 0 20px;
    }
}
.column-4 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 38%;
    margin-left: 20px;
}
@media (max-width: 991px) {
    .column-4 {
    width: 100%;
    }
}
.img-31 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 125px;
    margin-top: 4px;
    max-width: 100%;
}
@media (max-width: 991px) {
    .img-31 {
    margin-top: 40px;
    }
}


